# crontab <this_file> : install crons
# m h  dom mon dow   command

# Automount Freebox during boot
# @reboot sudo mount -t cifs //mafreebox.freebox.fr/Disque\ dur  /media/Freebox/ -o user=freebox,password=password,uid=1000,gid=1000,rw,sec=ntlm

00 23 * * * sudo ntpdate pool.ntp.org
00 05 * * * ~/cron_upgrade.sh

# Choose a full backup method
# 00 00 * * * ~/backup_full.sh [ DEFAULT | MEDIAWIKI ]

# Choose a light backup method
# 00 02 * * * ~/backup_light.sh [ DEFAULT | MEDIAWIKI ]

# Choose a git backup method
# 00 03 * * * ~/backup_git.sh [ DEFAULT | MEDIAWIKI ]
